<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - formulär</title>

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="logo">
        <h1>Moment 1</h1>
    </div>

    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Startsida</a></li>
                <li class="current-location"><a href="/form">Lägg till kurser</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    
    <main>
        <!--själva formuläret ska sedan flyttas till "form"-sidan-->
        <h2>Lägg till kurs:</h2>

        <form method="post" action="/form"> <!--get är defualt, så skriver man inget blir metoden get, anropa en annan sida "/sidnamn"-->
            <!--Kurskod-->
            <div>
                <label for="code">Kurskod:</label>
                <br>
                <input type="text" id="code" name="code" value="<%= code %>">
                <br>
            </div>
            <!--Kursnamn-->
            <div>
                <label for="coursename">Kursnamn:</label>
                <br>
                <input type="text" id="coursename" name="coursename" value="<%= coursename %>">
                <br>
            </div>
            <!--progression-->
            <div>
                <label for="progression">Kursprogression (A eller B):</label>
                <br>
                <input type="text" id="progression" name="progression" value="<%= progression %>">
                <br>
            </div>
            <!--syllabus-->
            <div>
                <label for="syllabus">Kursplan:</label>
                <br>
                <input type="text" id="syllabus" name="syllabus" value="<%= syllabus %>">
                <br>
            </div>
            <p id="enterField"></p>

                        <% if (locals.errors.length > 0) { %>
                <ul class="errors">
                    <% errors.forEach((error) => { %>
                        <li><%= error %></li>
                    <% }) %>
                </ul>
            <% } %>

            <input id="addCourseButton" type="submit" value="Lägg till kurs">
        </form>

        <p class="user-message">Se dina tillagda kurser på <a  href="/"><span class="hidden-link">startsidan!</span></a></p> <!--färglägg!-->
    </main>

    <footer>
        <p>Amanda Thim - amth2302</p>
    </footer>

</body>
</html>

