<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - Startsida</title>

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="logo">
        <h1>CV</h1>
    </div>

    <header>
        <nav>
            <ul class="menu">
                <li class="current-location"><a href="/">Startsida</a></li>
                <li><a href="/form">Lägg till kurser</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-courses">
        <h1>Kurser som jag har läst:</h1>
        <button id="sortButton">Sortera efter kursnamn</button>
        <!--i server.js
            client.query("SELECT * FROM courses ORDER BY coursename DESC" och sen hela error biten)    
        -->
        <div class="show-courses">
            <!-- <article>
                <% courses.forEach((course) =>  { %>
                    <h2><%= course.coursename %></h2>
                    <br class="break-desktop">
                    <p>Kurskod:<%= course.code %></p>
                    <p>Kursprogression: <%= course.progression %></p>
                    <p>Kursplan: <%= course.syllabus %></p>
                <% }) %>
                <button class="delete-button" type="submit" name="delete" **value="<& course[i] %>"**>Ta bort kurs</button> <!--varför dyker den inte upp efter varje kurs? Vill ta bort specifik kurs-->
            </article> 

            <table>
                <tr>
                    <th>Kurskod</th>
                    <th>Kursnamn</th>
                    <th>Kursprogression</th>
                    <th>Kurplan</th>
                    <th>Ta bort kurs</th>
                </tr>
                 <% courses.forEach((course) => { %>
                <tr>
                        <td><%= course.code %></td>
                        <td><%= course.coursename %></td>
                        <td><%= course.progression %></td>
                        <td><%= course.syllabus %></td>
                        <td>
                            <form method="post" action="/delete"><button class="delete-button" type="submit" name="deleteItemId" value="<%= course.id %>">Ta bort kurs</button></form>
                        </td>
                    <% }) %>
                </tr>
            </table>
        </div>
    </main>

    <footer>
        <p>Amanda Thim - amth2302</p>
    </footer>
    
</body>
</html>